button {
  height: 35px;
  width: 120px;
  border-color: navajowhite;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(14, 237, 253, 0.986);
  cursor: pointer;
  padding-left: 5px;
}

button:hover {
  background-color: orange;
}
